<div class="container" style="text-align: center">
<h1><strong>Stupid Coaching</strong></h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Talk to Coach">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>

